html,body {
	background: white;
}

body, p, input, select, textarea, button {
	font-family: 'montserrat', sans-serif;
	letter-spacing: -0.2px;
	font-size: 16px;
}
#cart_image_only{
	background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height:100%;
	width: 100%;
}

div, p {
	color: black;
	text-shadow: 1px 1px 1px #fff;
}

h1 {
	padding-left: 50px;
	padding-top: 60px;
}

.segment {
	padding: 32px 0;
	text-align: center;
}

button, input {
	border: 0;
	outline: 0;
	font-size: 16px;
	border-radius: 320px;
	padding: 16px;
	 background: #c6c7cc;
	text-shadow: 1px 1px 0 #fff;
}

label {
	display: block;
	margin-bottom: 24px;
	width: 100%;
}

button {
	   color: #3f4147;
	font-weight: bold;
	box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 600;
}

button:hover {
	box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
	box-shadow: 1px 1px 2px #fff, -1px -1px 2px #babecc;
}

button.fa {
	margin-right: 8px;
	font-size: 20px;
	font-weight: bold;
}

button.unit {
	border-radius: 8px;
	line-height: 20px;
	width: 158px;
	height: 48px;
	display: inline;
	justify-content: center;
	align-items: center;
	margin: 0 8px;
	font-size: 15.2px;
}

.card {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;

}

.head{
		font-weight: 700;
    font-size: 17px;
}

.list{
	font-weight: 600;
	 font-size: 14px;
}

.container {
	min-width: 60%;
	max-width: 80%;
}

.home {
	float: right;
	position: absolute;
	right: 30px;
	top: 10px;
}

.register {
    float: right;
    margin-right: 150px;
}

.remove {
    font-size: 13px;
    font-weight: 300;
    color: rgb(255, 0, 0);
    margin: 0;
    padding: 7px;
}
